{% extends 'index.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Profile{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock head %}

{% block content %}
<!-- Vertical navbar -->
<div class="vertical-nav bg-white" id="sidebar">
    <div class="py-4 px-3 mb-4 bg-light">
        <div class="media d-flex align-items-center">
            <img loading="lazy" src="{{ user.employerprofile.profile_pic.url }}" alt="..." width="80" height="80"
                class="mr-3 rounded-circle img-thumbnail shadow-sm">
            <div class="media-body">
                <h5 class="m-0 mx-2">{{user.name}}</h5>
                <p class="font-weight-normal text-muted mx-2 mb-0">Web developer</p>
            </div>
        </div>
    </div>

    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Dashboard</p>

    <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item">
            <a href="{% url 'user-dashboard' %}" class="nav-link text-dark bg-light">
                <i class="fa fa-address-book mr-3 text-primary fa-fw"></i>
                User Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'profile-employer' user.employerprofile.id%}" class="nav-link text-dark">
                <i class="fa fa-id-card mr-3 text-primary fa-fw"></i>
                Profile
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-dark">
                <i class="fas fa-file-alt mr-3 text-primary fa-fw"></i>
                My Resume
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'update-password' %}" class="nav-link text-dark">
                <i class="fa fa-globe text-primary fa-fw"></i>
                Change Password
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'delete-user' user.id%}" class="nav-link text-dark">
                <i class="fa fa-ban text-primary fa-fw"></i>
                Delete Profile
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'logout' %}" class="nav-link text-dark">
                <i class='bx bx-log-out text-primary fa-fw'></i>
                logout
            </a>
        </li>
    </ul>



    <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0"></p>

    <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item">
            <a href="#" class="nav-link text-dark">
                <!-- <i class="fa fa-area-chart mr-3 text-primary fa-fw"></i>
                area charts -->
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-dark">
                <!-- <i class="fa fa-bar-chart mr-3 text-primary fa-fw"></i>
                bar charts -->
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-dark">
                <!-- <i class="fa fa-pie-chart mr-3 text-primary fa-fw"></i>
                pie charts -->
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-dark">
                <!-- <i class="fa fa-line-chart mr-3 text-primary fa-fw"></i>
                line charts -->
            </a>
        </li>
    </ul>
</div>

<div class="page-content p-5">
    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i
            class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Toggle</small></button>

    <form action="{% url 'profile-employer' user.employerprofile.id%}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3 class="display-4 text-black">User Profile</h3>
        <p class="lead text-black mb-0">{{form.as_p}}
        </p>
        <button type="submit" class="btn-lg btn-primary">Update</button>
    </form>
</div>

<div class="page-content p-5">
    <h3 class="display-4 text-black">Company Details</h3>

    <form action="{% url 'company-detail'%}" method="post">
        {% csrf_token %}
        {{comp_form.as_p}}
        <button type="submit">Save</button>
    </form>
    <button type="button" class="btn-sm btn-primary"> <a href="#" class="text-white"> Add Company Details
        </a></button>

</div>

{% block js %}
<script>
    $(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
        });
    });
</script>
{% endblock js %}

{% endblock content %}