{% extends 'index.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Profile{% endblock title %}
{% block head %}
<link rel="stylesheet"  href="{% static 'css/profile.css' %}">
{% endblock head %}

{% block content %}
<!-- <div class="container-fluid">
    <h1>Welcome to profile Page</h1>
    <p>In the process, Wait For a While...</p>

    Basic User Information about
    <br>
    <h1>{{user.name}}</h1>
    <h1>age: <img src=" {{ user.employeeprofile.profile_pic.url }} " class="rounded-circle" height="90px" width="90px"
            alt="">


        <div class="row">
            <div class="col-3 bg-primary">Side Bar</div>
            <div class="col-9 bg-danger"> Main Content</div>
        </div>
    </h1>


</div> -->

<!-- Vertical navbar -->
<div class="vertical-nav bg-white" id="sidebar">
    <div class="py-4 px-3 mb-4 bg-light">
        <div class="media d-flex align-items-center">
            <img loading="lazy" src="{{ user.employeeprofile.profile_pic.url }}" alt="..." width="80" height="80"
                class="mr-3 rounded-circle img-thumbnail shadow-sm">
            <div class="media-body">
                <h5 class="m-0 mx-2">{{user.name}}</h5>
                <p class="font-weight-normal text-muted mx-2 mb-0">Web developer</p>
            </div>
        </div>
    </div>

    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Dashboard</p>

    <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item">
            <a href="#" class="nav-link text-dark bg-light">
                <i class="fa fa-address-book mr-3 text-primary fa-fw"></i>
                User Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-dark">
                <!-- <i class="fa fa-address-card mr-3 text-primary fa-fw"></i> -->
                <i class="fa fa-id-card mr-3 text-primary fa-fw"></i>
                Profile
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-dark">
                <!-- <i class="fa fa-cubes mr-3 text-primary fa-fw"></i> -->
                <i class="fas fa-file-alt mr-3 text-primary fa-fw"></i>
                My Resume
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-dark">
                <!-- <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i> -->
                <i class="fa fa-globe text-primary fa-fw"></i>
                Change Password
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-dark">
                <!-- <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i> -->
                <!-- <i class="fa fa-light fa-trash-can fa-fw"></i> -->
                <i class="fa fa-ban text-primary fa-fw"></i>
                Delete Profile
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-dark">
                <!-- <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i> -->
                <i class='bx bx-log-out text-primary fa-fw'></i>
                logout
            </a>
        </li>
    </ul>

    <!-- <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Charts</p>

    <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item">
            <a href="#" class="nav-link text-dark">
                <i class="fa fa-area-chart mr-3 text-primary fa-fw"></i>
                area charts
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-dark">
                <i class="fa fa-bar-chart mr-3 text-primary fa-fw"></i>
                bar charts
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-dark">
                <i class="fa fa-pie-chart mr-3 text-primary fa-fw"></i>
                pie charts
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-dark">
                <i class="fa fa-line-chart mr-3 text-primary fa-fw"></i>
                line charts
            </a>
        </li>
    </ul>
</div> -->
    <!-- End vertical navbar -->
    {% endblock content %}